.hero {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.8;
}

.content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2; 
  color: #fff; 
  text-align: center; 
}

.content p {
  font-size: 1.5rem; 
  margin: 0.5rem 0;
}

.content h1 {
  font-size: 3rem; 
  margin: 0.5rem 0;
}

.btn {
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #98f8e1;
  color: #060606;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 160ms ease, color 160ms ease, transform 160ms ease, box-shadow 160ms ease;
}

.btn:hover {
  background-color: #084a3c; 
  color: #000000;
  transform: translateY(-1px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

.btn-light {
  background-color: #a0caf8;
  color: #000;
  transition: background-color 160ms ease, color 160ms ease, transform 160ms ease, box-shadow 160ms ease;
}

.btn-light:hover {
  background-color: #1d344c; 
  transform: translateY(-1px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width:640px) {
  .hero {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

  .content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2; 
  color: #fff; 
  text-align: center; 
}

  .content p {
  font-size: 1.5rem; 
  margin: 0.5rem 0;
}

  .content h1 {
  font-size: 3rem; 
  margin: 0.5rem 0;
}
}
